/* write your override styles here */
#tinymce-a11y-checker-container {
    display: none;
}
#tinymce-a11y-checker {
    display: none;
}
#application {
    display: none;
}
#mobile-header {
    display: none;
}
.no-print {
    display: none;
}
#mobileContextNavContainer{
    display: none;
}
#instructure_ajax_error_box{
    display: none;
}

